/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Determinando variáveis*/
:root {
    --vermelho_escuro: #891515;
    --vermelho_vivido: #d40101;
    --verde_vivido: #2c8909;
    --preto: #000;
    --pretoheader: #00000031;
    --branco: #ffffff;
    --cinza_claro: #d9d9d9;
    --amarelo_apagado: #d2b27a;
    --cinzel_fonte: "Cinzel Decorative", serif;
    --adventure_fonte: "adventure", serif;
    --montserrat_fonte: "Montserrat", sans-serif;
}

@font-face {
    font-family: "adventure";
    src: url('../fontes/adventures-unlimited-script-regular-maisfontes.14f6/adventures-unlimited-script-regular.otf') format('opentype');
}


/* Tela inicial */
.inicio {
    height: 100vh;
    background-image: url(../img/home/bghome.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

header {
    background-color: var(--pretoheader);
    position: fixed;
    display: flex;
    z-index: 1000;
    width: 100%;
}
.navbar-expand-lg{
    width: 100%;
}
.icones{
    margin-right: 1.5rem;
    .material-symbols-outlined.bagshop{
        padding-right: 2vh;
    }
}
.material-symbols-outlined{
    color: var(--branco);
    font-size: 40px !important;
}
.logohome {
    width: 20%;
    margin-left: 1.5rem;
}

.frase-inicial {
    position: absolute;
    top: 22vh;
    display: grid;
    width: 105vh;
    margin: 0 auto;
    left: 35%;
    transform: translateX(-50%);
    align-items: center;
}

.slogan1 {
    font-family: var(--adventure_fonte);
    color: var(--branco);
    font-size: 10rem;
    text-align: start;
    font-weight: 570;
    word-spacing: 0.5rem;

    strong {
        color: var(--verde_vivido);
        font-weight: 590;
    }
}

.slogan2 {
    font-family: var(--adventure_fonte);
    color: var(--branco);
    font-size: 10rem;
    text-align: end;
    margin-top: -9rem;
    font-weight: 570;
    word-spacing: 0.5rem;

    strong {
        color: var(--vermelho_vivido);
        font-weight: 590;
    }
}

nav {
    .nav-item {
        padding-right: 4vh;
        padding-left: 4vh;

        a {
            color: #ffffff;
        }

        font-family: var(--cinzel_fonte);
        font-size: 1.5rem;
        font-weight: 600;
    }

    .container-fluid {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
}

.navbar-brand {
    width: 35%;
}

/* ---------------------------------------------------Tela Personalize ----------------------------------*/
.back-video-container{
    width: 100%;
    overflow-x: hidden;
}
.personalizetitle{
    font-family: var(--cinzel_fonte);
    color: var(--branco);
    font-size: 6vh;
    text-align: center;
    padding-bottom: 11vh;
}
.textpersonalize{
    color: var(--branco);
    font-family: var(--montserrat_fonte);
    width: 100vh;
    font-size: 2.8vh;
    text-align: center;
    margin: auto;
    padding-bottom: 10vh;
}
.context{
    position: relative;
    top: -100vh;
}
.bttexperimente{
    font-family: var(--cinzel_fonte);
    font-size: 2vh;
    font-weight: 900;
    display: flex;
    justify-content: center;
    text-decoration: none;
    button{
        width: 25vh;
        height: 6vh;
        border-radius: 0.45rem;
        border: none;
    }
}
/* Tela carrossel */
#carousel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.telacarrossel{
    background-color: var(--cinza_claro) ;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 0.4rem;
    height: 70vh;
}
.telacarrossel2{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.carousel-control-prev-icon{
    background-image: url(../img/icons/anterior_carrossel.png)!important;
}
.carousel-control-next-icon{
    background-image: url(../img/icons/proximo_carrossel.png)!important;
}
.titulocursivo{
    font-family: var(--adventure_fonte);
    text-align: center;
    font-size: 8rem;
}
.carousel-item{
    img{
        width: 5%;
    }
}
.titulocard{
    font-family: var(--cinzel_fonte);
    font-weight: 700;
    text-align: center;
}

.descricaocard{
    font-family: var(--montserrat_fonte);
    text-align: center;
}
.botaocard{
    display: flex;
    justify-content: center;
    align-content: center;
    
    button{
        border-radius:  0 30px  0 30px ;
        border-color: transparent;
        font-family: var(--montserrat_fonte);
        font-weight: 600;
        background-color: var(--amarelo_apagado);
        text-align: center;
        width: 10vh;
        height:4.5vh;
    }
}

/*---------------------------------------------------------------------------TELA PHONES-------------------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {

    /*----------------------------------------------------------------------Tela inicial phone ---------------------------------------- */
    .inicio {
        height: 70vh;
        background-image: url(../img/home/bghome.svg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        overflow-x: hidden;
    }
    .navbar-toggler{
        border: none !important;
    }
    a.nav-link{
        font-size: 1.5vh;
    }
    .logohome {
        width: 50%;
        margin-left: 1.5rem;
    }
    .navbar-toggler-icon {
        background-image: url(../img/icons/menu.svg)!important;
    }
    .icones{
        position: absolute;
        top: 2.4vh;
        right: 6vh;
        .material-symbols-outlined.bagshop{
        padding-right: 1vh;
    }
    }

    .frase-inicial {
        position: relative;
        top: 13vh;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-21%);

    }

    button.navbar-toggler {
        border-radius: 1rem;
        width: 60px;
        height: 60px;
        z-index: 1000;
    }

    .slogan1,
    .slogan2 {
        width: 45vh;
        font-size: 4.8rem;
    }

    .slogan1 {
        text-align: center;
        position: relative;
        top: 5vh;
        word-spacing: 0.1rem;

    }

    .slogan2 {
        text-align: center;
        margin-top: 2px;
    }
    /*--------------------------------------Tela personalize phone------------------------- */
    .personalize{
        height: 70vh;
    }
    .back-video-container{
        max-width: 600px; ; 
        overflow-x: hidden;
    }
    .personalizetitle{
        font-family: var(--cinzel_fonte);
        color: var(--branco);
        font-size: 4vh;
        text-align: center;
        padding-bottom: 11vh;
    }
    .textpersonalize{
        color: var(--branco);
        width: 80%;
        font-size: 2vh;
        text-align: center;
        margin: auto;
        padding-bottom: 10vh;
    }
    .context{
        position: relative;
        top: -100vh;
    }
    .bttexperimente{
        font-family: var(--cinzel_fonte);
        font-size: 2vh;
        font-weight: 900;
        display: flex;
        justify-content: center;
        text-decoration: none;
        button{
            width: 25vh;
            height: 6vh;
            border-radius: 0.45rem;
            border: none;
        }
    }
}